.header {
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d6d6d6; 
    color: #4f4f4f4f;
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .col-6 {
    flex: 1;
  }
  
  .header-img {
    max-width: 100%;
    border-radius: 20%;
  }
  
  .header h2,p {
    margin-bottom: 10px;
    color: #2c2b30;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn ease-in 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

